<div class="wrapper">
  <div class="container">
    <div class="row specs-row">
      <div class="col-xs-12 col-sm-6">
        <h2><%= @spec.title %></h2>
        <p><%= @spec.description %></p>
        <p> <% @spec.tag_list.split.each do |t| %>
              #<%= t %>
            <% end %>
        </p>
        <%= link_to "Remove spec", spec_path(@spec), method: :delete %>
        <%= link_to "Edit spec",  edit_spec_path(@spec) %>
      </div>
    </div>
    <%= link_to "Back to all specs", specs_path %>
  </div>
</div>
